body {
  background-color: rgb(88, 121, 128);
}

h1,
h2 {
  text-align: center;
  color: rgb(250, 250, 250);
}

.centerContainer {
  margin-left: 14%;
  margin-right: 14%;
  background-color: rgb(156, 193, 181);
}

form {
  margin-left: 14%;
  margin-right: 14%;
  align-items: center;
}

img {
  align-items: center;
  margin-left: 14%;
  margin-right: 14%;
}
